@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-tablet: 640px;
  --breakpoint-md: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --color-white: #ffffff;
  --color-gray-light: #d2d1d6;
  --color-gray-medium: #8784a4;
  --color-gray-medium-dark: #4b486a;
  --color-gray-dark: #342d56;
  --color-blue-dark: #0c082b;
  --color-orange-light: #f57261;
  --color-orange-medium: #e16151;
  --color-blur: rgba(210, 209, 214, 0.05);
}